h3 {
    text-align: center;
    color: black;
    background: blanchedalmond;
}

body {
    background: floralwhite;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid blanchedalmond;
}