<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projeto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src="js/main.js"></script>
</head>

<body>
    <h3> Projeto Node JS <%= version %> </h3>
    <h4 style="margin: 10px;color: blue;">Visitas <%= visitas %></h4>

    <img src="https://cdn.eso.org/images/screen/eso1032a.jpg" width="640" height="780">
    
</body>

</html>